.create-club{
    float: right;
    margin-bottom: 20px;
}

.ant-col {
    input {
        width: 100%;
    }
}

.member-table {
    margin-top: 20px;
    margin-bottom: 20px;
}

td i:hover,
td i:active,
td i:focus {
    color: #1890ff
}
