<div class="login-background" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login-content" fxLayout="column" fxLayoutAlign="start center">
    <div class="login-header">
      <span class="ant-pro-form-login-logo">
        <img alt="logo" src="https://ng.ant.design/assets/img/logo.svg">
      </span>
      <span class="ant-pro-form-login-title">Ant Design</span>
    </div>
    <div class="login-form">
      <form [formGroup]="loginFormData" novalidate (submit)="login($event)" (keydown.enter)="login($event)" >
        <div class="login-field">
          <mat-form-field class="login-field">
            <input matInput formControlName="username" placeholder="Enter your username" type="text"
              [errorStateMatcher]="parentErrorStateMatcher" required>
            <button mat-button *ngIf="!loginFormData.get('username')?.hasError('required')" matSuffix mat-icon-button
              aria-label="Clear" tabindex="-1" (click)="clearField('username'); clearField('password');">
              <i class="close-button" nz-icon nzType="close" nzTheme="outline"></i>
            </button>
            <mat-error *ngIf="loginFormData.get('username')?.hasError('required')">The username is
              <strong>required</strong>. </mat-error>
          </mat-form-field>
        </div>

        <div class="login-field">
          <mat-form-field class="login-field">
            <input matInput formControlName="password" placeholder="Enter your password"
              [type]="hidePassword ? 'password' : 'text'" [errorStateMatcher]="parentErrorStateMatcher" required>
            <button mat-button *ngIf="!loginFormData.get('password')?.hasError('required')" matSuffix mat-icon-button
              aria-label="Clear" (click)="clearField('password');">
              <i class="close-button" nz-icon nzType="close" nzTheme="outline"></i>
            </button>
            <mat-error *ngIf="loginFormData.get('password')?.hasError('required')">The password is
              <strong>required</strong>. </mat-error>
            <mat-error *ngIf="loginFormData?.hasError('error')">{{loginFormData?.errors?.["error"]}}</mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button (click)="login($event)" class="login-button" style="margin-bottom:20px" >
          Login
        </button>
      </form>
    </div>
  </mat-card>
</div>